In [52]:
import requests
import re
import pandas as pd
import json
from mstrio.connection import Connection
from mstr_robotics import report
from mstr_robotics._connectors import mstr_api
i_rep=report.rep()
i_mstr_api=mstr_api()

path="D:\\shared_drive\\Python\\mstr_robotics\\mstr_robotics\\user_d.json"

with open(path, 'r') as file:
    user_d = json.load(file)

In [53]:
base_url="http://85.214.60.83:8080/MicroStrategyLibrary"
username=user_d["username"]
password=user_d["password"]

project_id="B7CA92F04B9FAE8D941C3E9B7E0CD754"
demo_report_id="C4FF6CF34933EF4B3B1D798D02D4FB36"


#conn=get_conn(base_url,project_id=project_id,username=username,password=password)
conn = Connection(base_url=base_url,username=username,password=password,project_id=project_id)
conn.headers['Content-type'] = "application/json"

Connection to MicroStrategy Intelligence Server has been established.

In [42]:
instance_id=i_rep.open_Instance(conn=conn, report_id=demo_report_id)
pa_rep_df=i_rep.report_df(conn=conn, report_id=demo_report_id, instance_id=instance_id)
pa_rep_df

Report object named: 'MSTR Security Demo' with ID: 'C4FF6CF34933EF4B3B1D798D02D4FB36'

,Category,Region,Call Center,Employee@Last Name,Employee@First Name,Revenue,Cost,Profit
0,Books,Central,Milwaukee,Gale,Loren,124966.05,97938.8280,27027.2220
1,Books,Central,Milwaukee,Torrison,Mary,126803.70,99392.0330,27411.6670
2,Books,Central,Milwaukee,Zemlicka,George,61406.75,48143.7060,13263.0440
3,Books,Central,Fargo,Ellerkamp,Nancy,63659.45,50030.3050,13629.1450
4,Books,Northwest,San Francisco,Becker,Kyle,36716.65,28671.7860,8044.8640
5,Books,Northwest,San Francisco,Hall,David,38018.60,29753.2170,8265.3830
6,Books,Northwest,Seattle,Gedot,Harriet,54439.90,42720.1190,11719.7810
7,Electronics,Central,Milwaukee,Gale,Loren,1161556.35,956479.0994,205077.2506
8,Electronics,Central,Milwaukee,Torrison,Mary,1179764.30,969269.5190,210494.7810
9,Electronics,Central,Milwaukee,Zemlicka,George,575252.35,474001.9124,101250.4376
10,Electronics,Central,Fargo,Ellerkamp,Nancy,589489.25,486597.7382,102891.5118
11,Electronics,Northwest,San Francisco,Becker,Kyle,358647.00,295303.2376,63343.7624
12,Electronics,Northwest,San Francisco,Hall,David,356621.75,292873.5636,63748.1864
13,Electronics,Northwest,Seattle,Gedot,Harriet,519581.15,429361.8748,90219.2752
14,Movies,Central,Milwaukee,Gale,Loren,195111.45,182796.0045,12315.4455
15,Movies,Central,Milwaukee,Torrison,Mary,197876.95,185318.5405,12558.4095
16,Movies,Central,Milwaukee,Zemlicka,George,95381.35,89350.2470,6031.1030
17,Movies,Central,Fargo,Ellerkamp,Nancy,100986.75,94882.7365,6104.0135
18,Movies,Northwest,San Francisco,Becker,Kyle,56855.30,53094.8095,3760.4905
19,Movies,Northwest,San Francisco,Hall,David,59686.25,56048.1985,3638.0515
20,Movies,Northwest,Seattle,Gedot,Harriet,84352.10,79261.3065,5090.7935
21,Music,Central,Milwaukee,Gale,Loren,187655.85,178822.2375,8833.6125
22,Music,Central,Milwaukee,Torrison,Mary,185905.10,176885.1045,9019.9955
23,Music,Central,Milwaukee,Zemlicka,George,90459.25,86197.2390,4262.0110
24,Music,Central,Fargo,Ellerkamp,Nancy,93091.35,88938.2304,4153.1196
25,Music,Northwest,San Francisco,Becker,Kyle,56014.60,53276.3370,2738.2630
26,Music,Northwest,San Francisco,Hall,David,58886.35,56095.0209,2791.3291
27,Music,Northwest,Seattle,Gedot,Harriet,81367.55,77742.2232,3625.3268

In [43]:
#export to excel
excel_file="D:\\shared_drive\\mstr_out\\PxCD_demo.xlsx"
pa_rep_df.to_excel(excel_file, index=False)

In [5]:
SQL_resp=i_mstr_api.get_report_sql(conn=conn,report_id=demo_report_id,instance_id=instance_id)
sql_t=SQL_resp.json()
query=sql_t["sqlStatement"]

readable_query = query.replace('\t', '    ').replace('\n', '\n')

# Print the formatted query
print(readable_query)

select    "a13"."category_id" AS "category_id",
    max("a16"."category_desc") AS "category_desc0",
    "a15"."region_id" AS "region_id",
    max("a17"."region_name") AS "region_name0",
    "a14"."call_ctr_id" AS "call_ctr_id",
    max("a15"."center_name") AS "center_name",
    "a11"."emp_id" AS "emp_id",
    max("a14"."emp_last_name") AS "emp_last_name",
    max("a14"."emp_first_name") AS "emp_first_name",
    sum("a11"."tot_dollar_sales") AS "Revenue",
    sum("a11"."tot_cost") AS "WJXBFS1",
    (sum("a11"."tot_dollar_sales") - sum("a11"."tot_cost")) AS "WJXBFS2"
from    "public"."item_emp_sls"    "a11"
    join    "public"."lu_item"    "a12"
      on     ("a11"."item_id" = "a12"."item_id")
    join    "public"."lu_subcateg"    "a13"
      on     ("a12"."subcat_id" = "a13"."subcat_id")
    join    "public"."lu_employee"    "a14"
      on     ("a11"."emp_id" = "a14"."emp_id")
    join    "public"."lu_call_ctr"    "a15"
      on     ("a14"."call_ctr_id" = "a15"."call_ctr_id")
    join    "public"."lu_category"    "a16"
      on     ("a13"."category_id" = "a16"."category_id")
    join    "public"."lu_region"    "a17"
      on     ("a15"."region_id" = "a17"."region_id")
where    "a15"."region_id" in (4, 6)
group by    "a13"."category_id",
    "a15"."region_id",
    "a14"."call_ctr_id",
    "a11"."emp_id"

[Analytical engine calculation steps:
    1.  Perform cross-tabbing
]

## prompts handling

In [55]:
report_id="B466214A4A0CE9CDCC7D07863D3FADD7"
prp_json=i_rep.get_default_prp_answ(conn, report_id)
prp_json.json()

[]

In [49]:
prp_l=[{'id': 'h2;8D679D4B11D3E4981000E787EC6DE8A4'},{'id': 'h1;8D679D4B11D3E4981000E787EC6DE8A4'}]

region_prp = {"id": "38FB260A4099305D4220B485B927D84E", "type": 'ELEMENTS',"answers": prp_l}

prp_ans={"prompts": [region_prp] }

prompt_answ=json.dumps(prp_ans)
prompt_answ

'{"prompts": [{"id": "38FB260A4099305D4220B485B927D84E", "type": "ELEMENTS", "answers": [{"id": "h2;8D679D4B11D3E4981000E787EC6DE8A4"}, {"id": "h1;8D679D4B11D3E4981000E787EC6DE8A4"}]}]}'

In [50]:
#handle Prompts
instance_id=i_rep.open_Instance(conn=conn, report_id=report_id)
ans=i_rep.set_inst_prompt_ans(conn=conn, report_id=report_id, instance_id=instance_id, prompt_answ=prompt_answ)
df=i_rep.rep_to_dataframe(conn=conn, report_id=report_id, instance_id=instance_id)
df

    Region@DESC Region@ID Call_Center@DESC     Revenue
0  Mid-Atlantic         2   Washington, DC  3135282.90
1  Mid-Atlantic         2       Charleston  1317332.15
2     Northeast         1           Boston  1487936.20
3     Northeast         1         New York  7066478.35